<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/main.css') }}">
        
    <!-- Import the Bootstrap stylesheet -->
    <script src="../static/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="../static/node_modules/jquery/dist/jquery.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="../static/node_modules/bootstrap/dist/css/bootstrap.css"/> -->

    <!-- Data Tables -->
    <link rel="stylesheet" type="text/css" href="../static/datatables/datatables.min.css"/>
    <script type="text/javascript" src="../static/datatables/datatables.min.js"></script>
    <!-- Grandfathering this one in case something stops workign but I think I just need the bottom two
        <script src="https://unpkg.com/bootstrap-table@1.21.0/dist/bootstrap-table.min.js"></script> -->






    <title>whatsticks</title>
</head>
<body >
    <section class="navbar_section">


    <div class="navbar navbar_custom  bg-primary " id="nav_section">
    
        <div class="left_and_middle">
            <div class="nav_left">
                <a href="{{ url_for('under_construction') }}" >
                    <div class="logo">
                      <img class="ws_logo_big" src="../static/images/wshLogo300px.png" >
                      <img class="ws_logo_small" src="../static/images/wshLogo_300px_doodle02.png" >
                    </div>
                </a>
            </div>
           
    
            <div class="middle_nav_div">
                <h1>What Sticks</h1>

            </div>
        </div>

        <img class="mobile-menu" id="mobile-cta" src="../static/images/white-hamburger-menu-icon-24.png" alt="Open Navigation">



    </section>
    


    {% block main %}{% endblock %}

    <footer class="footer" id="footer_custom">

        <div class=footer_right>
            <a class="footer_link_item" href="{{ url_for('about_us') }}">About</a>
            <a class="footer_link_item" href="{{ url_for('privacy') }}">Privacy</a>
            <a class="footer_link_item" href="{{ url_for('about_us', _anchor='anchor_for_interested_helping') }}">Interested in helping?</a>
        </div>
    </footer>


<script>
    const mobileBtn = document.getElementById('mobile-cta')
        nav = document.querySelector('nav')
        mobileBtnExit = document.getElementById('mobile-exit');

    mobileBtn.addEventListener('click', () => {
        nav.classList.add('menu-btn');
    })

    mobileBtnExit.addEventListener('click', () => {
        nav.classList.remove('menu-btn');
    })
</script>

<!-- Remove flash on click -->
<script>
    function removeFlash() {
        const element = document.getElementById('div_flash');
        element.remove();
    }
</script>

<!-- assign navbar height to --nav-height -->
<script>document.documentElement.style.setProperty('--nav-height', `${document.getElementById("nav_section").offsetHeight}px`);</script>

</body>
</html>