{% extends "_layout.html" %}
{% block main %}
<section class="about_us">

  <div class = "about_us_body">
    <div class = "title">
      {{ page_name }}
    </div>

    <div class="div_writing">
        <div class = writing_content>

          Hi I am Nick, creator of What Sticks. I am passionate about wellness and using data to provide insights on our wellness. 
          <br><br>
          The primary driver for building What Sticks is a desire to leverage data that I know already exists to build meaningful and personalized wellness benchmarks. I believe that with a little bit of navigating our everyday applications and devices can start working to provide us insights that really move the needle and improve our lives.
          <br><br>
          Currently, What Sticks provides personalized feedback to these questions:
          <br>
          How much sleep do I need?
          <br>
          How much walking should I do?
          <br>
          How much does weather impact my daily habits?
          <br><br>
          What Sticks builds on what other products like Oura Ring and Apple Health have already done. I think Oura Ring is a fantastic device because it can passively monitor my sleep and give me accurate readings.
          <br><br>
          But I want to take this work one step further and answer why my sleep is one way or another.
          <br><br>
          If you’re interested in seeing a demo of What Sticks you can check out my data by logging in as a guest.
          <br><br>
          If you’d like to register and see how these data compare to your benchmarks sign up.

          
        </div>

    </div>
    <br>
    <div class="div_writing">
        <h1>More about What Sticks</h1>

        <br>
        <div class="writing_content">
            Article: <a href="https://nrodrig1.medium.com/healthcare-is-not-up-to-date-2e58c01c1477">Healthcare is Not Up To Date</a>
            <br><br>
            iOS device application coming soon!
            <br><br>
            Here are the current Github repos:
            <a href="https://github.com/costa-rica/whatSticks06">Web</a>,
            <a href="https://github.com/costa-rica/whatSticks06api">API</a>,
            <a href="https://github.com/costa-rica/whatSticks06scheduler">Scheduler</a>,
            <a href="https://github.com/costa-rica/whatSticksKivy09">iOS applicaiton</a>
            
        </div>
        <div id="anchor_for_interested_helping"></div>
    </div>

    

    <br>
    <div class="div_writing" id="contact_nick">
        <h1>More about Nick</h1>
        <br>
        <div class="writing_content">
            
            Medium: <a href="https://medium.com/@nrodrig1">Nick Rodriguez</a>
            <br>
            Twitter: <a href="https://twitter.com/EvryMnRodriguez">@EvryMnRodriguez</a>
            <br>
            Github: <a href="https://github.com/costa-rica">costa-rica</a>
            <br>
            LinkedIn: <a href="https://www.linkedin.com/in/nick-rodriguez-0a31a133/">Nick Rodriguez</a>
            <br>
            Email: nick@dashanddata.com
        </div>


    </div>

  </div>

</section>



{% endblock %}