{% extends "_layout.html" %}
{% block title %} WSH Privacy {% endblock %}
{% block main %}
<section class="about_us">
<div class="about_us_body">

    <h1>Privacy Statement</h1>
    <div class="div_writing">

            
            What Sticks does not sell or rent your personal information.<br/><br/>

            What Sticks uses your data in aggregate to create benchmarks, but identities are never disclosed without consent of the user.

    </div>
</div>
<br/><br/>
   

</section>

{% endblock %}